.custom-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 42px;
  padding: 10px 38px 10px 16px;
  background: #fff;
  background-size: 10px;
  transition: border-color .1s ease-in-out,box-shadow .1s ease-in-out;
  border: 1px solid #070606;
  border-radius: 11px;
}
.custom-select:hover {
  border: 1.5px solid #767171;
}
.custom-select:focus {
  border: 2px solid #474545;
  box-shadow: 0 3px 5px 0 rgba(88, 87, 87, 0.2);
  outline: none;
}
/* remove default arrow in IE */
select::-ms-expand {
  display:none;
}


/* Path: static\codechef.css */
.container {
  margin: 20px;
  padding: 20px;
  background-color: #f0f2f3f6;
  border: 1px solid #626060;
  border-radius: 15px;
  align-items: center;
  justify-content: center;
  
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ffffff;
}

th {
  background-color: #ffffff;
}

tr:nth-child(even) {
  background-color: #ffffff;
}


@media only screen and (max-width: 500px) {
  .container {
    margin: 10px;
    padding: 10px;
  }
  
  .custom-select {
    height: 32px;
    padding: 6px 28px 6px 12px;
  }
  
  th, td {
    padding: 4px;
  }
  
  table {
    font-size: 12px;
  }
  body {
    overflow: auto;
    max-width: 100%;
    max-height: 100%;
    overscroll-behavior: none;
  }
}
