<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{url_for('static', filename = 'css/admin.css')}}" />
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  
<title>Admin</title>
</head>
  <body>
    <section>
        <div class="container">
        <table id="data-table">
          <thead>
            <tr>
              <th>SL.NO</th>
              <th>MAIL ID</th>
              <th>QUERY</th>
            </tr>
          </thead>
          <tbody>
            {% for row in posts %}
            <tr>
              <td>{{ row[0] }}</td>
              <td>{{ row[1] }}</td>
              <td>{{ row[2] }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        </div>   
    </section>
</body>
</html>